@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
*{font-family: 'Open Sans', sans-serif; font-weight: 300;}
html , body 
{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
body{background-color:#282828;}

#loginb
{
	font-size: 30px;
	padding:0px 15px;
	position:absolute;
	top:20%;
	left:10%;
	border-radius: 15px;
	background-color:rgba(120,150,120,1);
}
#loginb:hover
{
	color:#fff;
	background-color:rgba(155,180,150,1);
}

#outshadl
{
	position:absolute;
	z-index: 1001;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}

#loginbox
{
	position:absolute;
	z-index: 1001;
	top:23%;
	left:33.5%;
	width:26%;
	height:28%;
	background-color: #5a5a5a;
	border:solid 5px;
	border-radius: 10px;
	border-color:#888;
	padding:15px;
}
#lginbox{float:left;}

#udata
{
	margin:5%;
	padding:0% 5%;
	width:80%;
	height:45%;
}
.colorw{color:rgba(245,255,240,0.8);}
.loginp
{
	font-size:18px;
	margin:7px;
	border-radius: 5px;
}

.inpbuton
{
	font-size:18px;
	border-radius: 10px;
	margin:2% 5%;
	background-color:#CCC;
}
.inpbuton:hover{background-color: #f7f7f7;}










