<h1>contact-me</h1>

<form action="/contact-me" method="POST"><!--表單內容-->

<div>
  姓名:
  <input type="text" name="yourName" />
  </div>
<div>
  信箱:
  <input type="text" name="yourEmail"/>
  </div>
<div>
  要對我說的話:
  <input type="text" name="message"/>
  </div>
<div>
  <input type="submit" value="送出"/>
</div>
</form>