<h1>contact-me</h1>
<form action="/contact-me" method="POST">
<div>姓名
  <input type="text"name=“”/>
  </div>
<div>信箱
  <input type="text"name=“”/>
  </div>
<div>想對我說的話
  <input type="text"name=“”/>
  </div>
<div>
  <input type="submit"value"送出"/>
  </div>
</form>