<h1>About Me</h1>

<div id="about-me">
  <div class="my-info">
    <h2>基本資料</h2>
    <div class="my-info-detail">姓名:陳郁雯</div>
    <div class="my-info-detail">電話:0976015563</div>
    <div class="my-info-detail">地址:屏東縣屏東市頂柳里中柳路409號</div>
      </div>
  <hr />
  <div class="my-info">
    <h2>過去經歷</h2>
     <div class="my-info-detail">
       <h3>2014 xxx公司工程師</h3>
       <h3>2015 xxx公司工程師</h3>
     </div> 
  </div>
  <hr />
  <div class="my-info">
    <h2>技能</h2>
    <ul>
      <li>拉拉拉</li>
      <li>花花哈</li>
     </ul>
  </div>
  
  <a href="/form">請點我</a>
</div>