<h1>About Me</h1>

<div id="about-me">
  <div class="my-infor">
    <h2>基本資料</h2>
    <div class="my-infor">姓名 : Dca </div>
    <div class="my-infor">電話 : 0912345678</div>
    <div class="my-infor">地址 : 台北市xx路1段234號5樓</div>
  </div>
  
  <hr/>
  
  <div class="my-infor">
    <h2>過去經歷</h2>
    <div class="my-infor-detail">
    <h3>!!!!!!!!</h3>
    <div>**********</div>
    </div>
    <div class="my-infor-detail">
    <h3>+++++++</h3>
    <div>********</div>
    </div>
  </div>
  
  <hr/>
  
  <div class="my-infor">
    <h2>技能</h2>
    <ul>
      <li>Backend: Node.js</li>
      <li>Forntend: Angular.js,React.js</li>
      <li>Git</li>
    </ul>
  </div>
  <a href="/form">聯絡我</a>
</div>